:root {
  --font-primary: "Roboto";
  --color-light-gray: #F9F9F7;
  --color-dark-gray: #505E5C;
  --color-blue: #2ABAA3;

}

html {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

h2 {
  color: #2F687A;
}

p {
  font-weight: 300;
  color: var(--color-dark-gray);
}

a {
  text-decoration: none;
}

footer {
  background-color: #939598;
}

.nav-footer {
  text-align: center;
}

h3, a {
  color: #e6e7e8;
}

section {
  background-color: #58595b;
}

.about-section {
  background-color: none;
}

.main-btn {
  border: 2px solid #000;
  border-radius: 30px;
  padding: .5em 2.5em;
  background-color: var(--color-blue);
  color: #fff;
  border-color: var(--color-blue);
}

.main-section-color {
  background-color: var(--color-light-gray);
}

/* Health Care Professionals */

.features-banner {
  height: 300px;
  background-color: #e2e2e2;
}

.section-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

/* About Page */

.m-v-h3 {
  color: #868686;
}

section {
  background-color: #58595b;
}

.mission-value {
  background-color: ##f7f7f7;
}

.card-shadow {
  box-shadow: 3px 3px 10px #000;
}

@media only screen and (min-width: 38em) {

  .nav-footer {
    text-align: left;
  }

 }
