:root {
  --font-primary: "Roboto";
  --color-light-gray: #F9F9F9;
  --color-medium-gray: #A5A5A5;
  --color-dark-gray: #353C51;
  --color-blue: #17C9BC;
  --color-medium-blue: #5D8FA8;
}

html {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

.home-panels h2 {
  font-weight: 300;
}

h3, a {
  color: #e6e7e8;
}

p {
  font-weight: 300;
  color: var(--color-dark-gray);
}

.home-cards h2 {
  color: var(--color-dark-gray);
}

footer {
  border-top: 1px solid var(--color-medium-gray);
  background-color: var(--color-dark-gray);
}

footer h3 {
  color: #fff;
}

footer a {
  color: #AEB1B9;
  font-weight: 300;
}

.nav-footer {
  text-align: center;
}

.footer-copyright {
  border-top: 1px solid var(--color-medium-gray);
}

.main-btn {
  border: 2px solid #000;
  border-radius: 30px;
  padding: .5em 2.5em;
  color: var(--color-blue);
  border-color: var(--color-blue);
}

/* .main-section-color {
  background-color: var(--color-light-gray);
} */

/* Health Care Professionals */

.features-banner {
  height: 300px;
  background-color: #e2e2e2;
}

.section-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

.mission-value {
  background-color: ##f7f7f7;
}

.card-image {
  box-shadow: 3px 3px 10px #bcbec0;
}

@media only screen and (min-width: 38em) {

  .nav-footer {
    text-align: left;
  }
 }
