:root {
  --font-primary: "Source Sans Pro";
  --color-light-gray: #F5F4F2;
  --color-dark-blue: #2A374D;
  --color-blue: #24D1C4;
  --color-yellow: #FAB00A;
  --color-pink: #ED5270;
  --color-purple: #3E4E72;
}

a {
  text-decoration: none;
}
