---
layout: default
meta: This is the About page for the POMMe-Health.
---
<div class="features-banner relative">
  <div class="wrapper absolute pin-c">
    <h2 class="">About</h2>
  </div>
</div>

{% for about in site.data.about-text %}
{% include about-text.html data=about %}
{% endfor %}

<div class="grid grid-middle wrapper">
{% for about in site.data.mission-values %}
{% include mission-values.html data=about %}
{% endfor %}
</div>

<div class="grid wrapper">
{% for about in site.data.about-section %}
{% include about-section.html data=about %}
{% endfor %}
</div>

<article class="island wrapper">
  <h2 class="push-1-2 giga">In the News</h2>
  <div class="grid">
  {% for about in site.data.about-cards %}
  {% include about-cards.html data=about %}
  {% endfor %}
  </div>
</article>
