---
layout: default
title: POMMe-Health About
meta: This is the About page for the POMMe-Health.
---

<section id="about-history" class="pad-t-2 pad-b-2 max-length">
  <h2>{{site.data.about.history.historyTitle}}</h2>
  <p>{{site.data.about.history.historyText}}</p>
</section>

<section id=about-mission-values class="pad-b-2">
  <div class="grid grid-middle wrapper">
  {% for about in site.data.mission-values %}
  {% include mission-values.html data=about %}
  {% endfor %}
  </div>
</section>

<section id="about-leadership" class="pad-b-2">
  <div class="grid grid-middle wrapper">
  {% for about in site.data.about-section %}
  {% include about-section.html data=about %}
  {% endfor %}
  </div>
</section>

<article id="about-news" class="island wrapper">
  <h2 class="push-1-2 giga">What's New</h2>

</article>
