---
layout: default
---
  <section class="jumbotron-banner" style="background: linear-gradient(to right, rgba(255, 255, 255, 1) , rgba(255, 255, 255, .2)), url({{site.data.home.heroBanner.image}}); background-size: cover; background-position: center right;">
    <div class="jumbotron-container wrapper grid island">
      <div class="unit xs-1 s-1 m-1 l-1-2">
        <h1 class="yotta">{{site.data.home.heroBanner.title}}</h1>
        <p class="milli">{{site.data.home.heroBanner.text}}</p>
        <a class="nav-btn" href="#">{{site.data.home.heroBanner.buttonText}}</a>
      </div>
    </div>
  </section>


  <section class="wrapper pad-t-2 pad-b-2 gutter-1-2 home-cards">
      <ul class="list-group grid grid-top">
        {% for cards in site.data.home.homeCards %}
          <li class="unit xs-1 s-1 m-1-3 l-1-3 text-center island-1-2">
            <i class="icon i-64 push-1-2">
              <img src="{{cards.icon}}" alt="">
            </i>
            <h2 class="kilo push-1-2">{{cards.title}}</h2>
            <p class="milli push-0">{{cards.text}}</p>
          </li>
        {% endfor %}
      </ul>
      </section>



  {% for work in site.data.homepage %}
  {% include main-section.html data=work %}
  {% endfor %}



  {% include get-in-touch.html %}
  </section>
