---
layout: default
---
<section class="jumbotron-banner">
  <div class="jumbotron-container wrapper grid island">
    <div class="unit xs-1 s-1 m-1 l-1-2">
      <h1 class="yotta">POMMe-Health</h1>
      <p class="milli">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
      <a class="btn" href="#">Learn More</a>
    </div>
  </div>
</section>  

  <section class="wrapper pad-t-2 pad-b-2 gutter-1-2 home-cards">
    <div class="grid grid-top">
      {% for cards in site.data.homepage-cards %}
      {% include homepage-cards.html data=cards %}
      {% endfor %}
    </div>
  </section>
  {% for work in site.data.homepage %}
  {% include main-section.html data=work %}
  {% endfor %}
  <section class="pad-t-2 pad-b-2 wrapper text-center">
    <h2>Get in touch</h2>
  </section>
