---
layout: default
---
  <section class="small-banner" style="background: linear-gradient(to right, rgba(54, 60, 79, .75) , rgba(54, 60, 79, .75)), url({{site.baseurl}}{{site.data.platform.banner.image}}); background-size: cover; background-position: center center;">
    <div class="small-banner-container  wrapper grid island">
      <div class="unit xs-1 s-1 m-1 l-1-2">
        <h1 class="yotta push-0">{{site.data.platform.banner.text}}</h1>
      </div>
    </div>
  </section>
  <!-- {% for platform in site.data.platform.platformSections %}
  <section class="home-panels {{platform.sectionColour}}">
    <div class="grid grid-middle wrapper">
      <div class="unit xs-1 s-1 m-1-2 {{platform.pushClass}}">
        <img class="img-flex" src="{{site.baseurl}}{{platform.image}}" alt="">
      </div>
      <div class="unit xs-1 s-1 m-1-2 {{platform.pullClass}} island">
        <h2>{{platform.mainSectionHeader}}</h2>
        <p>{{platform.mainSectionText}}</p>
      </div>
    </div>
  </section>
  {% endfor %} -->


  <!-- <section class="wrapper">
    <div class="grid grid-stretch pad-t-2 pad-b-2">
        {% for platform in site.data.platform.platformSections %}
      <div class="island unit-content-distribute unit xs-1 s-1-2 m-1-2 l-1-2 ">
        <div class="platform-card">
          <div class="embed embed-16by9 push">
            <img class="img-flex embed-item platform-img" src="{{site.baseurl}}{{platform.image}}" alt="">
          </div>
          <div class="gutter">
            <h2 class="">{{platform.mainSectionHeader}}</h2>
            <p class="content-shrink">{{platform.mainSectionText}}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </section> -->

  <section class="wrapper">
    {% for platform in site.data.platform.platformSections %}
    <div class="grid grid-middle {{platform.padding}} gutter">
      <div class="unit xs-1 m-2-3 {{platform.pushClass}}">
        <img class="img-flex" src="{{site.baseurl}}{{platform.image}}" alt="">
      </div>
      <div class="unit xs-1 m-1-3 pad-t pad-b {{platform.pullClass}}">
        <h3>{{platform.mainSectionHeader}}</h3>
        <p>{{platform.mainSectionText}}</p>
      </div>
    </div>
    {% endfor %}
  </section>
  {% include get-in-touch.html %}
