<div class="grid push-2">

  <div class="pad-t-2 pad-b-2 unit s-1 m-1-3 l-1-3 center-text island-1-2">
    <a href="#">
      <div class="card-image island-1-2">
        <h3 class="push-1-8">{{page.card-title-one}}</h3>
        <p class="push-1-4 about-text micro">{{page.card-par-one}}</p>
      </div>
    </a>
  </div>

  <div class="pad-t-2 pad-b-2 unit s-1 m-1-3 l-1-3 center-text island-1-2">
    <a href="#">
      <div class="card-image island-1-2">
        <h3 class="push-1-8">{{page.card-title-two}}</h3>
        <p class="push-1-4 about-text micro">{{page.card-par-two}}</p>
      </div>
    </a>
  </div>

  <div class="pad-t-2 pad-b-2 unit s-1 m-1-3 l-1-3 center-text island-1-2">
    <a href="#">
      <div class="card-image island-1-2">
        <h3 class="push-1-8">{{page.card-title-three}}</h3>
        <p class="push-1-4 about-text micro">{{page.card-par-three}}</p>
      </div>
    </a>
  </div>

</div>
