<div class="grid {{include.data.sectionPadding}}{{include.data.sectionColour}} push">
    <div class="unit xs-1 s-1 m-1-3 l-1-3 center-text">
      <h3 class="push-0">Call Us At</h3>
      <p class="milli">613-123-4567</p>
    </div>
    <div class="unit xs-1 s-1 m-1-3 l-1-3 center-text">
      <h3 class="push-0">Address</h3>
      <p class="milli">Street Address<br>City, Prov.<br>Postal Code</p>
    </div>
    <div class="unit xs-1 s-1 m-1-3 l-1-3 center-text">
      <h3 class="push-0">Email</h3>
      <p class="milli">Email Address</p>
    </div>
  </div>
