<section class="get-in-touch-section pad-b-2 pad-t-2">
  <div class="wrapper text-center">
    <h2>{{site.data.home.getInTouch.title}}</h2>
    <p>{{site.data.home.getInTouch.text}}</p>
    <form class="max-length gutter" action="https://formspree.io/melany.pelletier@gmail.com" method="POST">
      <label class="text-left" for="email">Email address</label>
      <input class="push" type="text" id="email" required>
      <button class="text-center nav-btn" type="submit">{{site.data.home.getInTouch.button}}</button>
    </form>
  </div>
</section>
