<header>
<div class="grid grid-middle wrapper">
  <div class="unit xs-3-4 m-1-2 l-1-3 island">
    <a class="logo" href="index.html"><img class="img-flex logo" src="{{site.baseurl}}/images/pomme-logo.svg" alt="POMMe-Health coloured logo"></a>
  </div>
  <div class="unit xs-1-4 m-1-2 l-0 text-right island">
    <button class="nav-label relative">
      <span class="line top"></span>
      <span class="line middle"></span>
      <span class="line bottom"></span>
    </button>
  </div>

  <div class="unit xs-0 s-0 m-0 l-2-3 text-right island">
    <div class="ib">
      <a class="nav-btn" href="#">POMMe Platform</a>
    </div>
    <ul class="list-group-inline ib push-0">
      <li class="gutter-1-4"><a href="#">
        <i class="icon i-32">
          <img src="images/facebook-icon.svg">
        </i>
      </a></li>
      <li class="gutter-1-4"><a href="#">
        <i class="icon i-32">
          <img src="images/facebook-icon.svg">
        </i>
      </a></li>
      <li class="gutter-1-4"><a href="#">
        <i class="icon i-32">
          <img src="images/facebook-icon.svg">
        </i>
      </a></li>
    </ul>
  </div>
</div>
<div class="grid">
<nav class="unit m-0 l-1 menu">
  <ul class="list-group push-0 nav-list text-center">
    <li><a class="current" href="{{site.baseurl}}/index">Home</a></li>
    <li><a  href="{{site.baseurl}}/health-care-professionals">Healthcare Professionals</a></li>
    <li><a href="{{site.baseurl}}/patients-famliy">Patients & Family</a></li>
    <li class="dropdown">
        <a class="dropbtn" href="{{site.baseurl}}/about">About</a>
        <div class="dropdown-content">
          <a href="{{site.baseurl}}/about#about-history">History</a>
          <a href="{{site.baseurl}}/about#about-mission-values">Mission Statement</a>
          <a href="{{site.baseurl}}/about#about-mission-values">Leadership</a>
          <a href="{{site.baseurl}}/about#about-new">In the News</a>
        </div>
    </li>
    <li><a href="{{site.baseurl}}/blog">Blog</a></li>
    <li class="dropdown">
        <a class="dropbtn" href="{{site.baseurl}}/contact">Contact</a>
        <div class="dropdown-content">
          <a href="{{site.baseurl}}/contact#contact-technical-support">Technical Support</a>
          <a href="{{site.baseurl}}/contact#contact-investors">Investors</a>
        </div>
    </li>
  </ul>
</nav>
</div>

</header>
