<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>POMMe-Health</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='{{site.baseurl}}/css/grid.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/type.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/module.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/main.css' rel="stylesheet">
</head>
<body>
  {{content}}
<!--<footer>
    <div class="grid wrapper">

      <div class="unit xs-1 s-1 m-1-2 l-1-2">
        <div>
          <img src="images/" alt="POMMe-health Logo"></img>
        </div>
        <div class="social-media">
          <a href="#" alt="Linkedin Icons">Linkedin</a>
          <a href="#" alt="Fackbook Icons">Facebook</a>
          <a href="#" alt="Social Media Icons">Social</a>
        </div>
      </div>

      <div class="unit xs-1 s-1 m-1-4 l-1-4">
        <nav class="nav-footer-1">
          <ul class="list-group">
            <li><h3>POMMe-Health</h3></li>
            <li><a href="#" alt="">POMMe Platform</a></li>
            <li><a href="#" alt="">Health Care Professionals</a></li>
            <li><a href="#" alt="">Patients and Family</a></li>
            <li><a href="#" alt="">About Us</a></li>
            <li><a href="#" alt="">Blog</a></li>
            <li><a href="#" alt="">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="unit xs-1 s-1 m-1-4 m-1-4">
        <nav class="nav-footer-2">
          <ul class="list-group">
            <li><a class="peta" href="#">Help</a></li>
            <li><a href="#" alt="">Terms of Use</a></li>
            <li><a href="#" alt="">Privacy Policy</a></li>
            <li><a href="#" alt="">Sitemap</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <section>
      <p class="micro">© 2018 POMMe-Health</p>
    </section>
  </footer> -->

  <footer class="nav-footer">
    <div class="grid wrapper pad-t">
      <div class="unit xs-1 s-1 m-1-3 l-1-3 text-center">
        <ul class="list-group-inline">
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-3 l-1-3">
        <ul class="list-group">
          <li><h3 class="push-1-4">POMMe-Health</h3></li>
          <li><a href="#">POMMe Platform</a></li>
          <li><a href="#">Health Care Professionals</a></li>
          <li><a href="#">Patients and Family</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-3 l-1-3">
        <ul class="list-group">
          <li><a class="peta" href="#">Help</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>

    <section>
      <p class="micro text-center">© 2018 POMMe-Health</p>
    </section>

  </footer>

</body>
</html>
