<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>POMMe-Health</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='{{site.baseurl}}/css/grid.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/type.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/module.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/main.css' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
</head>
<body>
  <section class="nav-top-section gutter-2 pad-t-1-2 pad-b-1-2">
    <div class="grid grid-middle wrapper">
      <div class="unit xs-1-2 s-1-2 m-1-2 l-1-2 xl-1-2">
        <img src="https://via.placeholder.com/160x50" alt="">
      </div>

      <div class="unit xs-1-2 s-1-2 m-1-2 l-1-2 xl-1-2">
        <div>
          <ul class="list-group-inline text-right push-0">
            <li class="gutter-1-4"><a href="#">
              <i class="icon i-32">
                <img src="images/facebook-icon.svg">
              </i>
            </a></li>
            <li class="gutter-1-4"><a href="#">
              <i class="icon i-32">
                <img src="images/facebook-icon.svg">
              </i>
            </a></li>
            <li class="gutter-1-4"><a href="#">
              <i class="icon i-32">
                <img src="images/facebook-icon.svg">
              </i>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="nav-bottom-section">
    <nav class="wrapper main-navigation">
      <ul class="list-group-inline push-0 pad-t-1-2 pad-b-1-2">
        <li><a class="micro" href="#">POMMe Platform</a></li>
        <li><a class="micro" href="#">Professionals</a></li>
        <li><a class="micro" href="#">Patients & Families</a></li>
        <li><a class="about-link micro" href="#">About Us</a></li>
        <li><a class="micro" href="#">Blog</a></li>
        <li><a class="micro" href="#">Contact Us</a></li>
      </ul>
    </nav>
  </section>
    <section class="about-dropdown">
    <nav class="wrapper text-center">
      <ul class="list-group-inline push-0 pad-t-1-2 pab-1-2">
        <li><a class="gutter" href="#">Mission Statement</a></li>
        <li><a class="gutter" href="#">Values</a></li>
        <li><a class="gutter" href="#">Contact</a></li>
      </ul>
    </nav>
  </section>
  {{content}}

  <footer class="nav-footer">
    <div class="grid wrapper pad-t-2 pad-b-2">
      <div class="unit xs-1 s-1 m-1-4 l-1-4 text-center gutter-1-2">
        <ul class="list-group-inline">
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
        <ul class="list-group push-0">
          <li><h3 class="milli">POMMe-Health</h3></li>
          <li class="push-1-4"><a class="micro" href="#">POMMe Platform</a></li>
          <li class="push-1-4"><a class="micro" href="#">Health Care Professionals</a></li>
          <li class="push-1-4"><a class="micro" href="#">Patients and Family</a></li>
          <li class="push-1-4"><a class="micro" href="{{site.baseurl}}/about.html">About Us</a></li>
          <li class="push-1-4"><a class="micro" href="#">Blog</a></li>
          <li class=""><a class="micro" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
        <ul class="list-group">
          <li><h3 class="milli">About Us</h3></li>
          <li class="push-1-2"><a class="micro" href="#">Story</a></li>
          <li class="push-1-2"><a class="micro" href="#">Values</a></li>
          <li class="push-1-2"><a class="micro" href="#">Mission Statement</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
        <ul class="list-group">
          <li><h3 class="milli">Help</h3></li>
          <li class="push-1-2"><a class="micro" href="#">Terms of Use</a></li>
          <li class="push-1-2"><a class="micro" href="#">Privacy Policy</a></li>
          <li class="push-1-2"><a class="micro" href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright pad-t pad-b">
      <p class="micro text-center push-0">© 2018 POMMe-Health</p>
    </div>

  </footer>

</body>
</html>
