<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>POMMe-Health</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='{{site.baseurl}}/css/grid.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/type.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/module.css' rel="stylesheet">
  <link href='{{site.baseurl}}/css/main.css' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
</head>
<body>
  {{content}}

  <footer class="nav-footer">
    <div class="grid wrapper pad-t-2 pad-b-2">
      <div class="unit xs-1 s-1 m-1-4 l-1-4 text-center gutter-1-2">
        <ul class="list-group-inline">
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
        <ul class="list-group push-0">
          <li><h3 class="milli">POMMe-Health</h3></li>
          <li class="push-1-4"><a class="micro" href="#">POMMe Platform</a></li>
          <li class="push-1-4"><a class="micro" href="#">Health Care Professionals</a></li>
          <li class="push-1-4"><a class="micro" href="#">Patients and Family</a></li>
          <li class="push-1-4"><a class="micro" href="{{site.baseurl}}/about.html">About Us</a></li>
          <li class="push-1-4"><a class="micro" href="#">Blog</a></li>
          <li class=""><a class="micro" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
        <ul class="list-group">
          <li><h3 class="milli">About Us</h3></li>
          <li class="push-1-2"><a class="micro" href="#">Story</a></li>
          <li class="push-1-2"><a class="micro" href="#">Values</a></li>
          <li class="push-1-2"><a class="micro" href="#">Mission Statement</a></li>
        </ul>
      </div>
      <div class="unit xs-1 s-1 m-1-4 l-1-4 gutter-1-2">
        <ul class="list-group">
          <li><h3 class="milli">Help</h3></li>
          <li class="push-1-2"><a class="micro" href="#">Terms of Use</a></li>
          <li class="push-1-2"><a class="micro" href="#">Privacy Policy</a></li>
          <li class="push-1-2"><a class="micro" href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright pad-t pad-b">
      <p class="micro text-center push-0">© 2018 POMMe-Health</p>
    </div>

  </footer>

</body>
</html>
